input[type=radio]{
    display:inline-block;
    margin-right: 8px;
}

input[type=text]{
    width: 450px;
    height: 20px;
}

select{
    width: 450px;
}

#criancas, #outroanimal, #tempo{
    width: 522px;
}

textarea{
    width: 522px;
    height: 100px;
}

#blocoForm{
    width: 590px;
    height: 400px;
    line-height: 20px;
    text-align:center;
    position: absolute;
    top: 20%;
    right: 8%;
    border: 3px solid;
    border-radius: 10px;
    border-color: saddlebrown;
    border-top:10px solid saddlebrown;
}

#block1{
    position: absolute;
    width: 550px;
    height: 400px;
    top: 20%;
    left: 8%;
}

#title1, h5, #cao{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 60px;
    text-align: center;
}

button{
    background: saddlebrown;
    color: white;
    border: 3px solid saddlebrown;
    border-radius: 50px;
    cursor: pointer;
}